.container {
    max-width: 550px;
    margin: 0 auto;
    padding: 0px;
    text-align: center;
    font-family: Arial, sans-serif;
  }
  
  .input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 16px;
  }
  
  .avatar-list {
    display: flex;
    justify-content: center;
    gap: 16px;
    margin-bottom: 20px;
  }
  
  .avatar {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 4px solid transparent;
    cursor: pointer;
    transition: border 0.3s;
  }
  
  .avatar.selected {
    border-color: #007bff;
  }
  
  .save-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #e33e5c;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 6px;
    cursor: pointer;
  }
  
  .save-button:hover {
    background-color: #fb4b6b;
  }
  
  .result {
    margin-top: 30px;
  }

  h2{
    color: rgb(106, 103, 103);
    margin-top: 0px;
  }